<app-title [title]="title"></app-title>

<div class="row">
  <div class="container col-md-12">
    <form [formGroup]="fg">

      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Insira o nome completo" name="nome">
      </div>

      <div class="form-group">
        <label for="rg">RG</label>
        <input type="text" class="form-control" id="rg" formControlName="rg" placeholder="Ex: 498362371">
      </div>

      <div class="form-group">
        <label for="birthDate">Data de Nascimento</label>
        <input type="text" class="form-control" id="birthDate"
              formControlName="birthDate" placeholder="dd/mm/yyyy" >
      </div>

      <div class="">
        <div class="d-flex">
            <div class="">
              <h1>Contatos</h1>
            </div>
            <div class="addNewContato">
                <button type="button" id="addNewContato" class="btn btn-info mr-2" (click)="createEmptyComponenet()" title="Adicionar Novo Contato"> <i class="fas fa-plus-circle"></i> </button>
            </div>
        </div>
        <hr>

        <div *ngIf="componentsReferences.length === 0">
          <p><i class="fas fa-exclamation-circle mr-3"></i>Adicione seu primeiro contato</p>
        </div>

        <div>
          <ng-template #viewContainerRef></ng-template>
        </div>

        <div>
            <button class="btn btn-info mr-3" (click)="savePerson()" id="save">Salvar</button>
            <button class="btn" (click)="navigateBack()">Voltar</button>
        </div>

      </div>

    </form>

  </div>
</div>




<app-alert [reponseMessage]="response"></app-alert>
