<app-title [title]="title"></app-title>

<div class="row">
  <div class="container col-md-12">
    <form [formGroup]="fg" (ngSubmit)="save()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          [ngClass]="{
            'validating': fg.get('name').status === 'PENDING',
            'is-invalid': fg.get('name').status === 'INVALID' && fg.get('name').touched
          }"
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Insira o nome completo"
          name="nome"
        />
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col">
              <label for="rg">RG</label>
              <input [ngClass]="{'is-invalid': !fg.get('rg').valid && fg.get('rg').touched}"
                type="text"
                class="form-control"
                id="rg"
                formControlName="rg"
                placeholder="Ex: 498362371"
              />
          </div>
          <div class="col">
              <label for="birthDate">Data de Nascimento</label>
              <div class="input-group">
                <input class="form-control" placeholder="Selecione a data de nascimento"
                    [ngClass]="{'is-invalid': !fg.get('birthDate').valid && fg.get('birthDate').touched}"
                    name="dp" formControlName="birthDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
          </div>
        </div>

      </div>

      <div class="">
        <div class="d-flex">
          <div class="">
            <h1>Contatos</h1>
          </div>
          <div class="addNewContato">
            <button
              type="button"
              id="addNewContato"
              class="btn btn-info mr-2"
              (click)="appAddContatoComponent()"
              title="Adicionar Novo Contato"
            >
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
        </div>
        <hr />

        <div *ngIf="!items">
          <p>
            <i class="fas fa-exclamation-circle mr-3"></i>Adicione seu primeiro
            contato
          </p>
        </div>
      </div>

      <div formArrayName="contatos" *ngFor="let item of contatos['controls']; let i = index;">
          <div class="mt-3 mb-3" [formGroupName]="i">
              <div class="form-row">
                <div class="col-11">
                  <input
                    [ngClass]="{'is-invalid': !item.get('name').valid && item.get('name').touched}"
                    type="text"
                    class="form-control"
                    id="nome"
                    formControlName="name"
                    placeholder="Informe o nome do contato"
                  />
                </div>
                <div class="col-1 removeButton">
                  <button
                    (click)="removeContato(i)"
                    class="btn btn-danger"
                    title="Remover contato"
                    type="button"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
      </div>

      <div>
        <button class="btn btn-info mr-3" type="submit" [disabled]="!fg.valid" id="save">
          Salvar
        </button>
        <button class="btn" (click)="navigateBack()">Voltar</button>
      </div>
    </form>



  </div>
</div>

<app-alert [reponseMessage]="response"></app-alert>
